.pageContent {
    position: relative;
    width: 25rem;
    height: 35rem;
    border-radius: 3rem;
    background-color: #fb8500;
    margin-right: 50px;
    transition: all 1s ease-in-out;
    backdrop-filter: blur(3px);
    background-image: url('../src/2e503dab8d1d2088929137.webp');
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.contentTitle {
    text-align: center;
    font-size: 1.8rem;
    margin: 20px 0px 20px 0px;
    transition: all 1s ease-in-out;
    opacity: 0;
}

.contentImg {
    display: flex;
    justify-content: center;
    width: 25rem;
    height: fit-content;
    opacity: 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.contentImg img {
    width: fit-content;
    height: fit-content;
    max-width: 25rem;
    max-height: 25rem;
}

.verticalTitle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: #8ECAE6;
    writing-mode: vertical-lr;
    text-orientation: upright;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all .5s ease-in-out;
    z-index: 1;
    cursor: default;
}

.pageContent:hover > .verticalTitle {
    opacity: 0;
}

.pageContent:hover {
    background-image: none;
    backdrop-filter: blur(0);
}

.pageContent:hover > .contentTitle {
    opacity: 1;
}

.pageContent:hover > .contentImg {
    opacity: 1;
}

.pageContent:hover > .readMore {
    opacity: 1;
}

.pageContent:hover > .BLUR {
    backdrop-filter: none;
}

.readMore {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    width: fit-content;
    height: 2rem;
    border: 2px black solid;
    border-radius: 20px;
    padding: 5px;
    margin: 25px auto;
    opacity: 0;
    z-index: 999;
    transition: all 1s ease-in-out;
}

.BLUR {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: -1;
}