@import url('https://fonts.cdnfonts.com/css/ness');
@import url('https://fonts.cdnfonts.com/css/gidugu');
@import url('https://fonts.cdnfonts.com/css/matias');
@import url('https://fonts.cdnfonts.com/css/cedagtrial');
@import url('https://fonts.cdnfonts.com/css/stella-nova');

body {
    font-family: 'stella nova', sans-serif;
    margin: 0;
    background-color: #023047;
    overflow: hidden;
}

.pageTitle {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 4rem;
    font-family: 'Cedagtrial';
    color: #8ECAE6;
}